<div class="row" style="min-height:91px;width:536px;margin:auto;">
<div class="extra" style="margin:11px 123px 0px 213px;">
<div class="component  " style="width:200px;">
<div class="code self mobile-leaf" style="width:200px;min-height:80px;">
<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8PFCT635AVF42">
<table>
<tbody><tr><td><input type="hidden" name="on0" value="Sizes">Sizes</td></tr><tr><td><select name="os0">
	<option value="L">L </option>
	<option value="XL">XL </option>
	<option value="2XL">2XL </option>
	<option value="3XL">3XL </option>
</select> </td></tr>
</tbody></table>
<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>
</div>
</div>
</div>